{% extends 'base.html' %}

{% block contents %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup project</title>
</head>

<body>
  <h1>Signup Project</h1>

  <img src="{% static '미키.jpg' %}"height="400" alt="미키사진">

  <div>
    <a href="{%url 'new'%}">let's signup</a>
  </div>
  
   {% for signup in signups %}
    <div>
    <h3>{{signup.name}}</h3>
    {{blog.id}}
    {{signup.age}}
    {{signup.pub_date}}
    {{signup.email}}
    {{signup.summary}} <a href="{%url 'detail' signup.id%}">…more</a>
     </div>
  {% endfor %}

  {% for signup in signup %}
  {{signup.title}}
  <img src="{{signup.image.url}}" height="400">
  {% endfor %}
{% endblock %}

</body>

</html>